<html>

<head>
	<meta charset="utf8"/>
</head>

<body>
	{{ range .}}
	<div>
		<h1>{{ .report.Name }}</h1>
		<table border="0">
			<tr align="left"> <th>Total</th> <td>{{ .report.Total }}</td></tr>
			<tr align="left"> <th>Slowest</th> <td>{{ .report.Slowest }}</td></tr>
			<tr align="left"> <th>Fastest</th> <td>{{ .report.Fastest }}</td></tr>
			<tr align="left"> <th>Average</th> <td>{{ .report.Average }}</td></tr>
			<tr align="left"> <th>Concurrent</th> <td>{{ .report.Concurrent }}</td></tr>
			<tr align="left"> <th>Requests</th> <td>{{ .report.RealRequest }}/{{ .Request }}</td></tr>
			<tr align="left"> <th>Requests/sec</th> <td>{{ printf "%.4f" .report.RealQPS }}/{{ .report.QPS }}</td></tr>
		</table>

		{{ if .latenciesImg }}
		<p><img src="{{ .latenciesImg }}"/></p>
		{{ end }}

		{{ if .histogramImg }}
		<h2>Latency histogram</h2>
		<p><img src="{{ .histogramImg }}"/></p>
		{{ end }}

	
		{{ if .report.Latencies }}
		<h2>Latency distribution</h2>
		{{ range .report.Latencies }}
		<p>{{ .Percent }}% in {{ .Duration}}</p>
		{{ end }}
		{{ end }}
	
		{{ if .report.Errs }}
		<h2>Error distribution</h2>
		<table border="1" cellspacing="0" cellpadding="4">
			{{ range $key, $value := .report.Errs }}
			<tr align="left"><td>{{ $key }} </td> <td>{{ $value }}</td></tr>
			{{ end }}
		</table>
		{{ end }}
	</div>
	{{ end }}

</body>
</html>
